



body{
    font-family: 'Baloo Bhai', cursive;
}
.centered-navbar {
    position:absolute; 
    left:25%; 
    width:50%; 
    text-align:center;
}
.main_title{
    color: #cdcecf;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    letter-spacing: 10px;
}
.blog_img{
     margin-top: 5vh;
     display: inline-block;
     max-width: 100%;
     height: auto;
     border: 3px #dc8a74 solid;
     border-radius: 8px;
     box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4.5px 15px 0 rgba(0, 0, 0, 0.19);
}
.blog_text{
    color: #3b3b3b;
    position: absolute;
    font-size: 1.2em;
    letter-spacing: 3px;
    top: 80%;
    left: 50%;  
    transform: translate(-50%, -50%);
    
}
.blog_text a{
    color: #3b3b3b;
    text-decoration: none;
}

.blog_text:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.blog_text:hover:after {
	width: 100%;
	background: #dc8a74;
}

.vendor_img{
    margin-top: 5vh;
    border-radius: 256px;
    display: block;
    max-width: 100%;
    color: #000000;
    height: auto;
    transition: transform 500ms ease-in-out;
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    -moz-transition: -moz-transform 500ms ease-in-out;
}
.vendor_img:hover{
      box-shadow: 0 0 40px #bd7562  ;
}
.vendor_row{
    padding-top: 5vh;
    padding-left: 15vw;
    padding-right: 15vw;
    z-index: 2px;
}
.blog_row{
    padding-top: 5vh;
}
.vendor_btn{
    background-color: transparent;
    border: 3px #dc8a74 solid;
    border-radius: 18px;
    padding: 10px 20px 10px 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
.vendor_btn:hover{
    box-shadow: inset 200px 0 0 0 #dc8a74;
    color: #FFF;
    border-radius: 18px;
}

.footer-top{
    background-color: #f5f5f5;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 30px;
    padding-right: 30px;
}
.footer-bottom{
    padding-top: 5px;
     padding-left: 40px;
    padding-right: 40px;
    font-size: 0.8em;
}
.footer-bottom a{
    color: #3b3b3b;
    letter-spacing: 3px;
    text-decoration: none;
}
.footer-bottom a:hover{
    font-weight: bold;
}
.footer_menu ul{
    list-style-type: none;
    padding-top: 2vh;
    padding-left: 0px;
    font-size: 16px;
}
.footer_menu li{
    margin-top: 1.5vh;
}
.footer_menu li a:hover{
    color: #dc8a74;
    font-weight: bold;
}
.footer_social{
    float: right;
}
.social_icons{
    float: none;
    padding-right: 15px;
}
.footer_menu li a{
     color: #3b3b3b;
    letter-spacing: 3px;
    text-decoration: none;
}
.footer_update{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
    letter-spacing: 1px;
    font-size: 1.6em;
}
.social_heading{
    letter-spacing: 1px; 
    font-size: 1.6em; 
    text-align: center;
}
.social_message{
    float: right;
    padding-right: 2vw;
    letter-spacing: 3px; 
}
.social_message span{
    color: #dc8a74;
}
.social_hover{
    color: #000000;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: transform 400ms ease-in-out;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    -moz-transition: -moz-transform 400ms ease-in-out;
}
.social_hover:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.copy_right{
    font-size: 16px; 
    letter-spacing: 3px;
    padding-left: 15px;
}
.btn_sub{
    background-color: #dc8a74;
    color: #FFF;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 40px;
    margin-left: -6vw;
    height: 45px;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.input_sub{
    height: 45px;
}
#section1{
    padding-top: 22vh;
    padding-bottom: 22vh;
}
#section2{
    padding-top: 20vh;
    padding-bottom: 22vh;
}
#section3{
    padding-top: 0vh;
    padding-bottom: 22vh;
}
#section4{
    padding-bottom: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
}
.carousel_item{
    width: 60vw;
    padding-top: 5vh;
    padding-bottom: 8vh; 
}
.carousel_text{
    padding-top: 5vh;
    padding-left: 1px;
    padding-right: 1px;
    letter-spacing: 3px;
    color: #3b3b3b;
    font-family: Myriad Arabic;
}
.btn_search{
    background-color: transparent;
    border-bottom: 3px #dc8a74 solid;
    border-top: 3px #dc8a74 solid;
    border-right: 3px #dc8a74 solid;
    height: 55px;
    margin-left: -3.1vw;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}
#search{
    border-bottom: 3px #dc8a74 solid;
    border-top: 3px #dc8a74 solid;
    border-left: 3px #dc8a74 solid;
    border-right: none;
    padding-left: 20px;
    padding-top: 8px;
    margin-right: -3.1vw;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    height: 55px;
}
#user_img{
    display: block;
    max-width: 100%;
    height: auto; 
}
.under_vendor{
    height: 3px;
    width: 7vw;
    border-radius: 1px;
    background-color: #dc8a74;
}
.under_blog{
    height: 3px;
    width: 6vw;
    border-radius: 1px;
    background-color: #dc8a74;
}
.nav_logo{
    height: 80px;
    width: auto;
    margin-top: -16px;
}
.custom_nav{
    padding-top: 50px !important;
}
.log_out{
    display: none !important;
}
.nav_item_mobile{
    display: none !important;
}
.nav_signup_btn{
    margin-top: 6px;
    letter-spacing: 2.5px;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.nav_signin_btn{
    margin-top: 6px;
    letter-spacing: 2.5px;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 10px;
    color: #f4f4f4;
    background-color: #dc8a74;
}

.signup_modal{
    border: 2px solid #dc8a74;
    border-radius: 15px;
    margin: 0 auto !important;
    max-width: 270px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 40px #888888  ;
}
.signin_modal{
    border: 2px solid #dc8a74;
    border-radius: 15px;
    margin: 0 auto !important;
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 40px #888888;
}
.contact_modal{
    border: 2px solid #dc8a74;
    border-radius: 15px;
    margin: 0 auto !important;
    max-width: 800px;
    padding: 50px 8vw;
    box-shadow: 0 0 40px #888888;
}



.contact_submit{
    color: #000000;
    background-color: #ffffff;
    letter-spacing: 3px;
    font-size: 1.2em;
    float: right;
    border: 3px solid #000000;
    border-radius: 17px;
    padding: 6px 35px;
}
.fade-scale {
  opacity: 0;
  transform: scale(0.7);
  -webkit-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear;
}
.fade-scale.in {
  transform: scale(1);
  opacity: 1;
}
.modal-backdrop {
   background-color:#ffffff;
}
.modal_text{
    letter-spacing: 3px;
    font-size: 1.5em;
}
.modal_text_field{
    border-bottom: 2px #dc8a74 solid;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.mat-label {
  display: block;
  font-size: 0.7em;
  font-weight: 100;
  transform: translateY(30px);
  color: #000000;
  transition: all 0.25s;
}
.mat-label1 {
  display: block;
  font-size: 0.7em;
  font-weight: 100;
  transform: translateY(30px);
  color: #000000;
  transition: all 0.25s;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
}

.mat-div {
  padding: 0px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #dc8a74; 
  bottom: 0;
  left: 0;
  transition: all 0.25s;
}

.mat-div::after {
  background-color: #dc8a74;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: #dc8a74;
}
.is-active .mat-label1 {
  color: #dc8a74;
}

.is-completed .mat-label {
  font-size: 12px;
  transform: translateY(15px);
}
.is-completed .mat-label1 {
  font-size: 12px;
  transform: translateY(4px);
}
.form_signup_btn{
    color: #ffffff;
    font-size: 0.8em;
    background-color: #dc8a74;
    border-radius: 50px;
    padding-left: 65px;
    padding-right: 65px;
    font-weight: 200;
    letter-spacing: 1px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4.5px 15px 0 rgba(0, 0, 0, 0.19);
}
.form_signup_fbtn{
    color: #ffffff;
    font-size: 0.8em;
    background-color: #2c66a1;
    border-radius: 50px;
    padding-left: 53px;
    padding-right: 53px;
    font-weight: 200;
    letter-spacing: 1px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4.5px 15px 0 rgba(0, 0, 0, 0.19);
}
signin_radio{
    background-color: #ffffff;
    border: 3px solid #dc8a74;
}
.signup_vendor{
    font-size: 0.8em; 
    margin-top: 2px; 
    color: gray;
}






#about_start{
    margin-top: 5vh;
    padding: 10vh 7vw;
    background-color: #f1b5aa;
    color: #ffffff;
}
#about_content{
    padding: 10vh 5vw 2vh 5vw;
}
.primary_heading{
    font-size: 5.2vw;
    letter-spacing:10px;
    margin: 0px;
}
.secondary_heading{
    margin: 0px;
    font-size: 2.4vw;
    letter-spacing:5px;
    font-family: Arial, Helvetica, sans-serif;
}
.about_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
    padding: 0 5vw;
    text-align: justify;
}
.team_img{
    display: block;
    max-width: 100%;
    height: auto;
}
.feature_img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}



#search_result{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
#search_input{
    height: 55px;
    padding: 0 30px;
    background-color: #f5f5f5;
    font-size: 1.3em;
    letter-spacing: 1px;
}
.search_heading{
    letter-spacing: 1px;
    margin-bottom: 2vh;
}
.filterBtn{
    color: #8a8a8a;
    font-weight: normal;
    letter-spacing: 1px;
}
.filterBtn :hover {
    color: #000000;
}
.search_cards{
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border: 1px solid #dc8a74;
    margin: 5vh auto;
}
.search_card_img{
     display: inline-block;
     max-width: 100%;
     height: auto;
     border-radius: 10px;
}
.search_cards_row{
    padding: 10vh 1vw 25vh 1vw;
}
.search_cards_text{
    padding: 10px 1vw;
}
.search_cards p{
    margin-bottom: 0 !important;
}
.search_cards_primaryText{
    color: #000000;
    letter-spacing: 0.2vw;
    text-align: center;
    margin-top: 1vh;
}
.search_cards_secondaryText{
    color: #888888;
    font-size: 1em;
    text-align: center;
}
.ratings{
    text-align: center;
}



@media (min-width: 768px) {
    .blog_row{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
@media(max-width:1300px){
    .btn_sub{
        margin-left: -8vw; 
    }
}
@media (min-width: 1200px){
    .nav_items{
        padding: 0vh 1vw 0vh 1vw;
    }
}
@media(max-width: 1000px){
    .under_vendor{
        width: 10vw;
    }
    .under_blog{
        width: 9vw;
    }
    .btn_sub{
        margin-left: -9vw; 
    }
}
@media(max-width: 950px){
    .nav_logo{
    height: 50px;
    width: auto;
    margin-top: 0px;
    }
    .nav_item_mobile{
    display: inline !important;
    }
    .nav_signup_btn{
        display: none;
    }
    .nav_signin_btn{
        display: none;
    }
    .btn_sub{
        margin-left: -11vw; 
    }
}
@media(max-width:850px){
    .btn_sub{
        margin-left: -13vw; 
    }
}
@media(max-width:802px){
    .social_heading{
        margin-left: 28px;
    }
}
@media(max-width:767px){
    .copy_right{
        text-align: center !important;
        margin-top: 30px;
        padding-left: 15px;
    }
    .social_icons{
        float: none;
    }
    .footer-top{
    padding-left: 15px;
    padding-right: 15px;
    }
    .btn_sub{
        margin-left: -7vw; 
    }
    .social_heading{
        text-align: center !important;
        margin-left: 0px;
    }
     .footer-top ul{
       text-align: center;
   }
    .search_heading{
    letter-spacing: 1px;
    text-align: center;
    }
    .filterBtn{
        color: #8a8a8a;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: center;
    }
    
}
@media(max-width:600px){
    .btn_sub{
        margin-left: -10vw;
    }
    .under_vendor{
        width: 20vw;
    }
    .under_blog{
        width: 19vw;
    }
}
@media(max-width:500px){
    .btn_sub{
        margin-left: -13vw;
    }
}
@media(max-width:471px){
    .btn_sub{
        margin-left: -16vw;
    }
}
@media(max-width:400px){
    .btn_sub{
        margin-left: -19vw;
    }
}
@media(max-width:359px){
    .btn_sub{
        margin-left: -21vw;
    }
}
@media(max-width:330px){
    .btn_sub{
        margin-left: -23vw;
    }
}
@media (max-width: 768px) {
   .footer_social{
        float: none;
    }
    .social_message{
        float: none;
        padding-top: 6vh;
    }
    .social_icons{
        padding-right: 0vw;
    }
    .footer_menu ul{
    padding-left: 0px;
}
}
@media (max-width: 950px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
     #user_img{
        display: none;
    }
}
@media (max-width: 350px) {
    .main_title{
        letter-spacing: normal;
    }
    .under_vendor{
        width: 25vw;
    }
    .under_blog{
        width: 24vw;
    }
}