



body{
    font-family: 'Baloo Bhai', cursive;
}
.centered-navbar {
    position:absolute; 
    left:25%; 
    width:50%; 
    text-align:center;
}
.main_title{
    color: #cdcecf;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
    letter-spacing: 10px;
}
.blog_img{
     margin-top: 5vh;
}
.vendor_img{
    margin-top: 5vh;
    border-radius: 256px;
    transition: transform 0ms ease-in-out;
    -webkit-transition: -webkit-transform 0ms ease-in-out;
    -moz-transition: -moz-transform 0ms ease-in-out;
}
.vendor_img:hover{
     
}
.vendor_row{
    padding-left: 15vw;
    padding-right: 15vw;
}
.blog_row{
    padding-top: 10vh;
}
.vendor_btn{
    background-color: transparent;
    border: 3px #dc8a74 solid;
    border-radius: 18px;
    padding: 10px 20px 10px 20px;
    letter-spacing: 2px;
    cursor: pointer;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.vendor_btn:hover{
    box-shadow: inset 200px 0 0 0 #dc8a74;
    color: #FFF;
    border-radius: 5px;
}

.footer-top{
    background-color: #f4f4f4;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.footer-bottom{
    padding-top: 5px;
    padding-left: 4vw;
    padding-right: 4vw;
}
.footer-bottom a{
    color: #3b3b3b;
    letter-spacing: 3px;
    text-decoration: none;
}
.footer-bottom a:hover{
    font-weight: bold;
}
.footer_menu ul{
    list-style-type: none;
    padding-top: 2vh;
    font-size: 16px;
}
.footer_menu li{
    margin-top: 1.5vh;
}
.footer_menu li a:hover{
    color: #dc8a74;
    font-weight: bold;
}
.footer_social{
    float: right;
}
.social_icons{
    padding-right: 3vw;
}
.footer_menu li a{
     color: #3b3b3b;
    letter-spacing: 3px;
    text-decoration: none;
}
.footer_update{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
    letter-spacing: 1px;
}
.social_message{
    float: right;
    padding-right: 2vw;
    padding-top: 8vh;
    letter-spacing: 3px; 
}
.social_message span{
    color: #dc8a74;
}
.social_hover{
    color: #000000;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: transform 400ms ease-in-out;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    -moz-transition: -moz-transform 400ms ease-in-out;
}
.social_hover:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.btn_sub{
    background-color: #dc8a74;
    color: #FFF;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 20px;
    margin-left: -7vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#section1{
    padding-top: 35vh;
    padding-bottom: 22vh;
}
#section2{
    padding-top: 20vh;
    padding-bottom: 22vh;
}
#section3{
    padding-top: 0vh;
    padding-bottom: 22vh;
}
#search{
    border: 3px #dc8a74 solid;
    border-radius: 50px;
    height: 6vh;
}



@media (min-width: 768px) {
    .blog_row{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
@media (min-width: 1200px){
    .nav_items{
        padding: 0vh 1vw 0vh 1vw;
    }
}
@media(max-width:600px){
    .btn_sub{
        margin-left: -12vw;
    }
}
@media (max-width: 768px) {
   .footer-top ul{
       text-align: center;
   }
   .footer_social{
        float: none;
    }
    .social_message{
        float: none;
        padding-top: 6vh;
    }
    .social_icons{
        padding-right: 0vw;
    }
}
@media (max-width: 950px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
     #user_img{
        display: none;
    }
}
@media (max-width: 350px) {
    .main_title{
        letter-spacing: normal;
    }
}